&ACCESS RVP
&REL 9
&PARAM EDITMASK = *
&PARAM TEMPLATE = C:\\KRC\\Roboter\\Template\\vorgabe
&PARAM DISKPATH = KRC:\\R1\\Program
DEFDAT  $filename
DECL BASIS_SUGG_T LAST_BASIS={POINT1[] "P315                    ",POINT2[] "P315                    ",CP_PARAMS[] "CPDAT8                  ",PTP_PARAMS[] "PDAT4                   ",CONT[] "C_DIS                   ",CP_VEL[] "0.05                    ",PTP_VEL[] "5                       ",SYNC_PARAMS[] "SYNCDAT                 ",SPL_NAME[] "S0                      ",A_PARAMS[] "ADAT0                   "}
DECL E6POS XPREF={X 1679.41125,Y -579.594604,Z 431.923492,A -87.1834106,B 60.0815239,C -88.5866776,S 22,T 18,E1 0.0,E2 0.0,E3 0.0,E4 0.0,E5 0.0,E6 0.0}
DECL FDAT FP4={TOOL_NO 1,BASE_NO 0,IPO_FRAME #BASE,POINT2[] " ",TQ_STATE FALSE}
DECL PDAT PPDAT1={VEL 50.0000,ACC 100.000,APO_DIST 100.000,GEAR_JERK 50.0000,EXAX_IGN 0}
DECL LDAT LCPDAT1={VEL 2.00000,ACC 100.000,APO_DIST 100.000,APO_FAC 50.0000,AXIS_VEL 100.000,AXIS_ACC 100.000,ORI_TYP #VAR,CIRC_TYP #BASE,JERK_FAC 50.0000,GEAR_JERK 50.0000,EXAX_IGN 0}
DECL PDAT PPDAT3={VEL 100.000,ACC 100.000,APO_DIST 100.000,GEAR_JERK 50.0000,EXAX_IGN 0}
#foreach ($layer in $layers)##
#foreach ($coord in $layer.lines)##
DECL E6POS XP$coord.i={X $coord.x,Y $coord.y,Z $coord.z,A $ang[0],B $ang[1],C $ang[2]}}
#end##
#end##
DECL E6POS XPEND0={X 1717.05981,Y -625.878357,Z 314.948792,A -90.5500107,B 55.2100487,C -90.8301239,S 22,T 18,E1 0.0,E2 0.0,E3 0.0,E4 0.0,E5 0.0,E6 0.0}
DECL FDAT FPEND0={TOOL_NO 1,BASE_NO 0,IPO_FRAME #BASE,POINT2[] " ",TQ_STATE FALSE}
DECL LDAT LCPDAT2={VEL 2.00000,ACC 100.000,APO_DIST 100.000,APO_FAC 50.0000,AXIS_VEL 100.000,AXIS_ACC 100.000,ORI_TYP #VAR,CIRC_TYP #BASE,JERK_FAC 50.0000,GEAR_JERK 50.0000,EXAX_IGN 0}
DECL E6POS XPEND={X 1716.95618,Y -625.765625,Z 439.733551,A -90.5752258,B 55.2216797,C -90.8636856,S 22,T 18,E1 0.0,E2 0.0,E3 0.0,E4 0.0,E5 0.0,E6 0.0}
DECL FDAT FPEND={TOOL_NO 1,BASE_NO 0,IPO_FRAME #BASE,POINT2[] " ",TQ_STATE FALSE}
DECL PDAT PPDAT4={VEL 100.000,ACC 100.000,APO_DIST 100.000,APO_MODE #CDIS,GEAR_JERK 50.0000,EXAX_IGN 0}
ENDDAT